@*
    Default Invoice Template for Dash Accounting System v2.0
*@
@using System.Net
@using DashAccountingSystemV2.Models
@model Invoice
@inherits RazorLight.TemplatePage<Invoice>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Model.Tenant.Name - Invoice @Model.InvoiceNumber</title>
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
        }

        .page[size="A4"] {
            background: white;
            display: block;
            margin-right: 11px;
        }

        dl.invoice-metadata {
            padding: 0.5em;
        }

            dl.invoice-metadata dt {
                clear: left;
                float: left;
                font-weight: bold;
                text-align: right;
                text-transform: uppercase;
                width: 100px;
            }

            dl.invoice-metadata dd {
                margin: 0 0 0 110px;
                padding: 0 0 0.5em 0;
            }

        .invoice-table {
            border-collapse: collapse;
        }

            .invoice-table thead {
                margin-bottom: 22px;
            }

            .invoice-table tr {
                page-break-inside: avoid;
            }

            .invoice-table td {
                padding: 5.5px;
                vertical-align: top;
            }

        .invoice-table-header-row {
            background-color: #6DCFF6;
            color: #134174;
        }

            .invoice-table-header-row th {
                padding: 5.5px;
                text-align: left;
            }
    </style>
</head>
<body>
    <div class="page" size="A4">
        @* Tenant Info and Logo *@
        <div style="display: flex">
            <div style="flex: 0 0 75%">
                <strong>@Model.Tenant.Name</strong><br />
                @* TODO: Handle international addresses *@
                <span>@Model.Tenant.MailingAddress.StreetAddress1</span><br />
                <span>@Model.Tenant.MailingAddress.City, @Model.Tenant.MailingAddress.Region.Code @Model.Tenant.MailingAddress.PostalCode</span><br />
                <span>@Model.Tenant.MailingAddress.Country.Name</span><br />
                <span>@Model.Tenant.ContactEmailAddress</span>
            </div>
            <div style="flex: 0 0 25%; align-content: flex-end; text-align: right">
                <div>[Logo Image]</div>
            </div>
        </div>

        <h1>Invoice</h1>

        @* Invoice Info *@
        <div style="display: flex">
            <div style="flex: 0 0 67%">
                <h2>Bill To</h2>
                <div>
                    @Raw(WebUtility.HtmlEncode(Model.CustomerAddress).Replace("\n", "<br />"))
                </div>
            </div>
            <div style="flex: 0 0 33%;">
                <dl class="invoice-metadata">
                    <dt>Invoice #</dt>
                    <dd>@Model.InvoiceNumber</dd>
                    <dt>Date</dt>
                    <dd>@Model.IssueDate.ToString("MM/dd/yyyy")</dd> @* TODO: i18n/l10n -- don't like standard format "d" due to it not using two digit months and days *@
                    <dt>Due Date</dt>
                    <dd>@Model.DueDate.ToString("MM/dd/yyyy")</dd> @* TODO: i18n/l10n  -- don't like standard format "d" due to it not using two digit months and days *@
                    <dt>Terms</dt>
                    <dd>@Model.InvoiceTerms.Name</dd>
                </dl>
            </div>
        </div>

        <hr />

        @* Table of Invoice Items *@
        <table class="invoice-table">
            <thead>
                <tr class="invoice-table-header-row">
                    <th style="width: 16.65%">DATE</th>
                    <th style="width: 66.7%">DESCRIPTION</th>
                    <th style="text-align: right; width: 16.65%">AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lineItem in Model.LineItems)
                {
                    <tr>
                        <td style="width: 16.65%">@lineItem.Date.ToString("MM/dd/yyyy")</td>
                        <td style="width: 66.7%">
                            @Raw(WebUtility.HtmlEncode(lineItem.Description).Replace("\n", "<br />"))
                        </td>
                        <td style="text-align: right; width: 16.65%">@lineItem.Total.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        @* Invoice Total and Message *@
        <div style="display: flex; margin-top: 22px">
            <div style="flex: 0 0 50%; padding-right: 33px;">
                @Raw(WebUtility.HtmlEncode(Model.Message).Replace("\n", "<br />"))
            </div>
            <div style="flex: 0 1 25%">
                BALANCE DUE
            </div>
            <div style="flex: 1 0 25%; align-content: flex-end; text-align: right">
                <strong style="font-size: 24px;">
                    @Model.Total.ToString("C") @* TODO: Asset Type?  l10n/i18n? *@
                </strong>
            </div>
        </div>
    </div>
</body>
</html>
